
<div class="landing-container">
    <!-- <video #videoPlayer autoplay muted (ended)="onVideoEnd()" class="landing-video">
      <source src="../../assets/landvid.mp4" autoplay="loop" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <img src="https://i.pinimg.com/originals/d0/f2/2b/d0f22ba21124dba8fe59dce25575ae67.gif" alt="" style="width: 100%; height: 100vh; object-fit: cover;">




    <!-- From Uiverse.io by dalbrechtmartin --> 
<button  *ngIf="showButton"  routerLink="/signup">
    Enter DC
    <div class="star-1">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
    <div class="star-2">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
    <div class="star-3">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
    <div class="star-4">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
    <div class="star-5">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
    <div class="star-6">
      <svg
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 784.11 815.53"
        style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
        version="1.1"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
      >
        <defs></defs>
        <g id="Layer_x0020_1">
          <metadata id="CorelCorpID_0Corel-Layer"></metadata>
          <path
            d="M392.05 0c-20.9,210.08 -184.06,378.41 -392.05,407.78 207.96,29.37 371.12,197.68 392.05,407.74 20.93,-210.06 184.09,-378.37 392.05,-407.74 -207.98,-29.38 -371.16,-197.69 -392.06,-407.78z"
            class="fil0"
          ></path>
        </g>
      </svg>
    </div>
  </button>
  
  </div>