
  <!-- </nav> -->

  <nav class="navbar navbar-expand-lg navbar" style="background-color: black; position: sticky; top: -1px; z-index: 1000;">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="#" style="display: flex;"><img src="../../../assets/dclogo.png" alt="" style="width:50px; height: 50px;"><h4 style="color: white;margin-top: 10px;">Student</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/course">Course </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/contact">Contact </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/user-dashboard">Profile </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/student/admission-form">Admission </a>
          </li>
          
        </ul>
       
      </div>
    </div>
  </nav>

  
  <!-- yahan admin ka content load hoga -->
  <router-outlet></router-outlet>
  