.main{
    /* From https://css.glass */
   
background: rgba(80, 77, 77, 0.315);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
border: 1px solid rgba(255, 255, 255, 0.71);
color: white;
}  
.box1{
    padding: 20px;
        background-image: url("https://i.gifer.com/7gRx.gif");
        background-attachment: fixed;
    }
    