<div class="box">
  <div class="container mt-5 main">
    <h2>User Profile</h2>
    <div *ngIf="userData">
      <div class="text-center mb-4">
        <img
          [src]="userData.imageUrl"
          alt="Profile Picture"
          width="120"
          height="120"
          style="border-radius: 50%"
        />
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <strong>Name:</strong> {{ userData.name }}
        </li>
        <li class="list-group-item">
          <strong>Age:</strong> {{ userData.age }}
        </li>
        <li class="list-group-item">
          <strong>Course:</strong> {{ userData.course }}
        </li>
        <li class="list-group-item">
          <strong>Email:</strong> {{ userData.email }}
        </li>
      </ul>
    </div>
  </div>
</div>
