
a{
  
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
  }
    .btn{
      background-color: rgb(238, 91, 115);
    }
    .box2{
      
      height: 100%;
      padding: 100px;
      background-color:  rgb(238, 76, 103);
     
  }
  
      
    .card {
      border-radius: 20px;
      transition: transform 0.3s ease-in-out;
    
    }
    
    .card:hover {
      transform: scale(1.05);
    }
    
    .card-img-top {
      margin-top: 20px;
     
      height: 200px;
      object-fit: contain;
    }
    @media  only screen and (max-width: 508px) {
      .media{
width: 80vw;
margin-left: -70px;
      }
    }
    @media  only screen and (max-width: 208px) {
      .media{
width: 70vw;
margin-left: -50px;


      }
    }