
  <!-- </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h3>Darul-Coding-Admin</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/home">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/course">course </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/contact">contact </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/course-dash">course Dash </a>
          </li>
          
          
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  
  <!-- yahan admin ka content load hoga -->
  <router-outlet></router-outlet>
  