
<div class="box2">
    <div class="container mt-5">
      <h2 class="text-center mb-4">Available Courses</h2>
      <div class="row g-4"> 
        <div *ngFor="let course of allCourses" class="col-md-4 col-sm-12 col-12">
          <div class="card flex-fill shadow-sm">
            <img
              [src]="course.img || course.img2"
              class="card-img-top"
              alt="course image"
            />
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ course.head }}</h5>
              <p class="card-text">{{ course.heading }}</p>
              <a [routerLink]="['/admin/course', course?.id]" [queryParams]="{search: 90}">
                <button class="btn  mt-auto">View Detail</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>