
<div  *ngIf="course; else loadingOrNotFound"  id="main">
    <div class="container-one p-3">
      <img [src]="course.img" [alt]="course.name" class="course-image" />
      
      <div class="outer-cont flex mt-2">
        <a [href]="course?.link">
       <!-- From Uiverse.io by adamgiebl --> 
  <button class="button w-100 text-center">
    <div class="button-overlay"></div>
    <span>Video <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 53 58" height="58" width="53">
  <path stroke-width="9" stroke="currentColor" d="M44.25 36.3612L17.25 51.9497C11.5833 55.2213 4.5 51.1318 4.50001 44.5885L4.50001 13.4115C4.50001 6.86824 11.5833 2.77868 17.25 6.05033L44.25 21.6388C49.9167 24.9104 49.9167 33.0896 44.25 36.3612Z"></path>
  </svg></span> 
    
  </button>
      </a>
      </div>
       
    </div>
    <div class="container">  
      <h2 class="course-title">{{ course.name }}</h2>
      <p class="course-description">{{ course.description }}</p>
      <p class="course-level">
        <strong>Level:</strong> {{ course.level }}
      </p>
  
      <div class="content-section">
        <h4>Details:</h4>
        <p class="course-definition">
          <strong>Definition:</strong> {{ course.definition }}
        </p>
        <p class="course-content">
          <strong>Content:</strong> {{ course.content }}
        </p>
        <p class="course-content2">
          <strong>Additional Content:</strong> {{ course.content2 }}
        </p>
        <p class="course-content3">
          <strong>Advanced Content:</strong> {{ course.content3 }}
        </p>
      </div>
       <h3>Key Features</h3>
  <ul>
    <li *ngFor="let f of course.features">{{ f }}</li>
  </ul>

     
<!-- ======================================== -->
       <h3>Usage</h3>
  <p>{{ course.usage }}</p>

  <h3>Semantic Tags</h3>
  <p>{{ course.semanticTags.join(', ') }}</p>

  <h3>Form Elements</h3>
  <p>{{ course.formElements.join(', ') }}</p>

  <h3>Media Elements</h3>
  <p>{{ course.mediaElements.join(', ') }}</p>

  <h3>Document Structure</h3>
  <pre>{{ course.structure.doctype }}</pre>
  <pre>{{ course.structure.basicStructure }}</pre>

  <h3>Contents</h3>
  <p>{{ course.content }}</p>
  <p>{{ course.content2 }}</p>
  <p>{{ course.content3 }}</p>

  <h3>Examples</h3>
  <div *ngFor="let ex of course.examples">
    <p><strong>{{ ex.tag }}</strong>: {{ ex.description }}</p>
    <pre>{{ ex.example }}</pre>
  </div>

  <h3>Best Practices</h3>
  <ul>
    <li *ngFor="let tip of course.bestPractices">{{ tip }}</li>
  </ul>

  <h3>Resources</h3>
  <ul>
    <li *ngFor="let r of course.resources">
      <a [href]="r.url" target="_blank">{{ r.title }}</a>
    </li>
  </ul>
<!-- ============================================= -->
    </div>
  </div>
  <ng-template #loadingOrNotFound>
    <div class="not-found">
      <h2>Loading or Course Not Found!</h2>
    </div>
  </ng-template>